################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/neuronLab/.vs/neuronLab/v16
/neuronLab/debug
/neuronLab/release
/neuronLab/x64/Debug
/neuronLabDll/debug
/neuronLabDll/x64/Debug
